#header {
  background-color: #ffedce;
  width: 100%;
  height: 90px;
}

#logo,
#logo_image {
  height: 70px;
  position: fixed;
  left: 10px;
  top: 10px;
  width: auto;
}

#nav {
  display: flex;
  justify-content: flex-end;
}

.nav_link {
  display: block;
  cursor: pointer;
  width: 170px;
  height: 90px;
  text-align: center;
  text-decoration: none;
  background-color: #ffedce;
  line-height: 90px;
  color: black;
}

.nav_link:hover {
  background-color: #db9340;
  color: #ffedce;
}
