#header {
  background-color: #ffedce;
  width: 100%;
}

#logo,
#logo_image {
  height: 70px;
  position: fixed;
  left: 10px;
  top: 10px;
  width: auto;
}

#nav {
  display: flex;
  justify-content: flex-end;
}

.nav_link {
  display: block;
  cursor: pointer;
  width: 170px;
  height: 90px;
  text-align: center;
  text-decoration: none;
  background-color: #ffedce;
  line-height: 90px;
  color: black;
}

.special_nav_link {
  display: block;
  cursor: pointer;
  width: 150px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  background-color: #db9340;
  line-height: 50px;
  margin-top: 20px;
  color: black;
  border-radius: 50px;
  margin-right: 20px;
  border: 1px solid #db9340;
}

.nav_link:hover {
  background-color: #db9340;
  color: #ffedce;
}

.special_nav_link:hover {
  border: 1px solid black;
}

.barsIcon {
  margin: 30px;
  width: 30px;
  height: auto;
}

.dropDownLink {
  display: block;
  cursor: pointer;
  height: 50px;
  text-decoration: none;
  background-color: #ffedce;
  line-height: 50px;
  color: black;
  padding-left: 20px;
}

.specialDropDownLink {
  background-color: #ffedce;
  line-height: 50px;
  color: black;
  font-weight: bold;
  padding-left: 20px;
}


.dropDownLinks {
  padding-bottom: 10px;
}
