.donate_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
}


.left {
    background-color: orange;
    width: 400px;
    height: 400px
}

.right {
    background-color: yellow;
    width: 400px;
    height: 400px;
}